*{
    margin: 0px;
    padding: 0px;
}
.app{
    justify-content: center;
    width: 99vw;
    height:auto;
    background-color: #1d1c2d;
}
.main{
    margin-top: 500px;
    padding: 2%;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    background-color:#211f32;
    width: 40%;
}
.input{
    margin-top:20px ;
}
.input input{
    border: #8C8C9F 1px solid;
    color:#8C8C9F;
    background-color: #262538;
    height: 50px;
}
.buttonlist{
    flex-direction: row;
    flex-wrap: wrap;
    width: 98%;
}
.button{
    height: 50px;
    background-color:#262538;
    color:#8C8C9F;
    margin: 5px;
    font-size: 15px;
}
.active{
    background-color: #8780f8;
}
.comments{
    flex-direction: column;
    width: 98%;
    gap: 20px;
}
.comment{
    background-color: #2c2b3f;
    width: 100%;
    flex-direction: column;
    color: white;
    padding: 20px;
}
.avatar{
    background-color: #d56a6a;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: aliceblue;
    font-weight: bolder;
}
.content{
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}
.content p{
    font-size: xx-small;
}
.header{
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.ratings{
    float: right;
}
@media (max-width: 768px) {
  .main{
    width: 100%;
  }
}


@media (max-width: 576px) {
  .main{
    width: 100%;
  }
  .buttonlist{
    flex-direction: column;
  }
  .header{
    flex-direction: column;
  }
}